<section class="featured">
    <div class="container">
        <div class="container-box">
            <h1 class="featured-h1">DESTACADO DE ESTE MES:</h1>
        </div>
    </div>

    <div class="container">
        <div class="container-box">
            {% for course in featured_courses %}
            <div class="container-box-card-course">
                <div class="image-container">
                    <img src="{{ course.img.url }}">
                </div>
                <h2>{{ course.name }}</h1>
                <p>{{ course.description }}</p>
                <h4>6 Cuotas sin interés de</h4>
                <h4 style="font-size: 40px;">AR$ {{ course.formatted_price_payment_installments }}</h4>
                <div class="container-button">
                    <a class="btn-info" href="{% url 'view_course' slug=course.slug %}">Más información...</a>
                </div>
            </div>
            {% endfor %}
        </div>
    
    </div>
</section>