{% extends 'base.html' %}

{% block 'title' %} Administrador modulo y clases {% endblock %}

{% block 'content' %}

<div class="container">
    <h5 class="mt-4 mb-4 title-exam">{{ course.name }}</h5>

    {% for module in course.modules_set.all|dictsort:"nro_order" %}
    
        <div class="mt-4 row">
        <div class="col">Modulo {{ forloop.counter }}- {{ module.title }}</div>
        <div class="col-auto"><a href="{% url 'edit_module' module.id %}">Editar módulo</a></div>
        </div>

            {% for lesson in module.lessons_set.all|dictsort:"nro_order" %}
                <div class="mt-2 row {% cycle 'bg-light border' 'bg-white border' %}" >
                    <div class="col-auto">Clase {{ forloop.counter }}- </div>
                    <div class="col">{{ lesson.title }}</div>
                    <div class="col-auto"><a href="{% url 'edit_lesson' lesson.id %}">Editar clase</a></div>
                </div>
                
            {% endfor %}
            
            <a href="{% url 'add_lesson' module.id %}">Agregar nueva clase</a>
            <hr>
        
    {% endfor %}
    <div class="mb-4 row-auto">
        <a href="{% url 'add_module' course.id %}">Agregar nuevo modulo</a>
    </div>
    <div class="mb-4 row-auto">
        <a class="btn btn-secondary" href="{% url 'adm_courses' %}">Volver a administrador de cursos</a>
    </div>

</div>

{% endblock %}