{% extends 'base.html' %}

{% block 'title' %} Editar Clase {% endblock %}

{% block 'content' %}

<div class="container">
    <div class="row">
        <h5 class="mt-4 mb-4 title-exam">Editar clase {{ lesson.title }}</h5>

        <div class="row">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <label class="form-label" for="l_title">Titulo de la clase</label>
                <input class="mb-3 form-control border-3 border-primary-subtle" id="l_title" 
                    type="text" name="title" placeholder="Titulo de la clase" autocomplete="off" required value="{{ lesson.title }}">

                <label class="form-label" for="l_subtitulo">Subtitulo</label>
                <input class="mb-3 form-control border-3 border-primary-subtle" id="l_subtitulo" 
                    type="text" name="subtitle" placeholder="Subtitulo" autocomplete="off" value="{{ lesson.subtitle }}">

                <div class="row">
                    <div class="col">
                        <label class="form-label" for="l_nro_order">Número de orden de la clase</label>
                        <input class="mb-3 form-control border-3 border-primary-subtle" id="l_nro_order" 
                            type="number" name="nro_order" placeholder="Nº de orden" required value="{{ lesson.nro_order }}">
                    </div>
                    <div class="col">
                        <div class="row">Nº orden y tiítulo de las clases ya cargadas a este modulo</div>
                        {% for lesson in module.lessons_set.all %}
                            <div class="row">
                                <div class="col-auto">{{ lesson.nro_order }}-</div>
                                <div class="col">{{ lesson.title }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <p style="color: crimson;">(Importante asignar correctamente el nro de orden para ordenar el orden de los módulos)</p>

                <hr>

                <div class="mt-4 row">
                    <div class="col-auto">
                        <div class="col-auto text-center">
                            <input style="scale: 1.8;" type="checkbox" name="check_zoom" id="check_z" {% if lesson.zoom %}checked{% endif %}><br>Link de Zoom
                        </div>
                    </div>
                    <div class="col">
                        <label class="form-label" for="lzoom">Link de Zoom</label>
                        <input class="mb-3 form-control border-3 border-primary-subtle" id="lzoom" type="text" name="l_zoom" placeholder="Link de zoom" autocomplete="off" value="{{ lesson.link_zoom }}">
                    </div>
                    <div class="col-auto">
                        <label class="form-label" for="id_day_time">Fecha y Hora:</label>
                        <input class="mb-3 form-control border-3 border-primary-subtle" type="datetime-local" name="day_time" id="id_day_time" value="{{ lesson.day_time|date:'Y-m-d\TH:i' }}">
                        <button type="button" id="clear-day-time">Limpiar</button>
                    </div>
                    
                </div>

                <hr>

                <label class="form-label" for="l_video">Link de video de la clase</label>
                <input class="mb-3 form-control border-3 border-primary-subtle" id="l_video" 
                    type="text" name="video" placeholder="Link de video de la clase" autocomplete="off" value="{{ lesson.video }}">

                <div class="row">
                    <div class="col-auto"><label for="l_pdf">PDF:</label></div>
                    <div style="color: crimson;" class="col">{{lesson.pdf}}</div>
                </div>
                <input class="mb-3 form-control border-3 border-primary-subtle" type="file" name="pdf" id="l_pdf" accept=".pdf">

                <label class="form-label" for="l_text1">Párrafo/Texto 1</label> 
                <textarea class="mb-3 form-control border-3 border-primary-subtle" name="text1" 
                    id="l_text1" rows="5">{{ lesson.text1 }}</textarea>

                <label class="form-label" for="l_text2">Párrafo/Texto 2</label> 
                <textarea class="mb-3 form-control border-3 border-primary-subtle" name="text2" 
                    id="l_text2" rows="5">{{ lesson.text2 }}</textarea>

                <label class="form-label" for="l_text3">Párrafo/Texto 3</label> 
                <textarea class="mb-3 form-control border-3 border-primary-subtle" name="text3" 
                    id="l_text3" rows="5">{{ lesson.text3 }}</textarea>

                <label class="form-label" for="l_class_materials">Link para acceder al drive con los archivos de la clase</label>
                <input class="mb-3 form-control border-3 border-primary-subtle" id="l_class_materials" 
                    type="text" name="class_materials" placeholder="Link de drive" autocomplete="off" value="{{ lesson.class_materials }}">

                <input class="mb-2 btn btn-success" type="submit" value="Guardar módulo">
                <a class="mb-2 btn btn-secondary" href="{% url 'adm_modules_lessons' course.id %}">Volver sin guardar</a>
            </form>
        </div>
    
</div>


{% endblock %}

{% block 'scripts' %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Asigna una función al evento de clic del botón "Limpiar"
        document.getElementById("clear-day-time").addEventListener("click", function() {
            // Establece el valor del campo de fecha y hora en blanco
            document.getElementById("id_day_time").value = "";
        });
    });
</script>
{% endblock %}