{% extends 'base.html' %}

{% block 'title' %} Certificado {% endblock %}

{% block 'styles' %} {% load static %} {% endblock %}

{% block 'content' %}

    <div class="container text-center">
        <div class="mt-3 mb-3" style="width: 100%;">
            <img style="height: 80vh; border: 1px solid black;" src="/media/all_certificates/{{ cert.name_cert }}">
        </div>
    
        <a href="#" onclick="downloadCertificate('/media/all_certificates/{{ cert.name_cert }}')" class="mb-3 btn btn-success">Descarga tu Certificado</a>
        <a href="{% url 'profile' %}" class="mb-3 btn btn-dark">Volver</a>
    </div>

{% endblock %}

{% block 'scripts' %}

    <script>
        function downloadCertificate(filePath) {
            var link = document.createElement('a');
            link.href = filePath;
            link.target = '_blank';
            link.download = 'certificado.pdf';
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        }
    </script>

{% endblock %}