{% extends 'base.html' %}

{% block 'title' %} {{ lesson.title }} {% endblock %}

{% block 'content' %}
<progress value="{{ advance|floatformat:0 }}" max="100"></progress>
<div class="play-lesson">
    <div class="lesson">
        <div class="lesson-text">
            <h2>Módulo {{ lesson.module.nro_order }}- Clase {{ lesson.nro_order }}: {{ lesson.title }}</h2>
        </div>

        {% include 'partials/play_lesson/subtitle.html' %}

        {% include 'partials/play_lesson/video.html' %}

        {% include 'partials/play_lesson/class_materials.html' %}

        {% include 'partials/play_lesson/text1.html' %}

        {% include 'partials/play_lesson/text2.html' %}

        {% include 'partials/play_lesson/text3.html' %}

        <div class="complete-lesson">
            {% if next_lesson %}
                <p>Siguiente:  <a href="{% url 'play_lesson' course.slug next_lesson.slug %}">{{ next_lesson.title }}</a></p>
            {% else %}
                <p>No hay más clases en este curso.</p>
            {% endif %}
        </div>

    </div>

    <div class="program">
        <div class="rate">
            {% include 'partials/rate.html' %}
        </div>
        {% include 'partials/modules.html' %}
    </div>
</div>
{% endblock %}

{% block 'scripts' %}
<script>
    const rangeInput = document.getElementById("customRange2");
    const rangeValue = document.getElementById("rangeValue");

    rangeInput.addEventListener("input", () => {
        const selectedValue = rangeInput.value;
        rangeValue.textContent = selectedValue;
    });
</script>
{% endblock %}