:root{
    --primary-color: #0c0038;
    --hover-links-color: #ff7171;
    --footer-color: #181818;
    --font-size-text: 1rem;
    --font-text-color: #181818;
    --time-transitions: .3s;
    --color-gray:#d4d4d4;
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'EB Garamond', serif;
    font-family: 'Josefin Sans', sans-serif;
    font-size: var(--font-size-text);
}

html, body{
    margin: 0px;
    color: var(--font-text-color);
}

.hero-image{
    height: 80vh;
    background: url(/static/pexels.jpg), rgba(29, 29, 29, 0.452);
    background-size: cover;
    background-position: center;
    padding: 2em;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    padding-bottom: 1%;
    padding-right: 3%;
    transition: var(--time-transitions);
}

.hero-image h1{
    font-size: 4rem;
    margin: 0px;
    text-shadow: 0px 0px 8px #ffffff;
    width: 100%;
    text-align: right;
    font-weight: 800;
    color: var(--primary-color);
}

.hero-image p{
    font-size: 1.6rem;
    text-shadow: 0px 0px 8px #000, 1px 1px 15px #121212;
    text-align: right;
}

.menu{
    height: 40px;
    background-color: var(--primary-color);
    color: #ffffff;
}

.menu div{
    height: 100%;
    margin: auto;
    width: 85vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.menu div a{
    text-decoration: none;
    color: inherit;
    padding-right: 1.2rem;
    transition: var(--time-transitions);
}

.menu div a:hover{
    color: var(--hover-links-color);
    text-decoration: underline;
}

.footer{
    min-height: 100px;
    background-color: var(--footer-color);
    color: #ffffff;
}

.footer div{
    height: 100%;
    margin: auto;
    width: 85vw;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-direction: column;
}

.footer div a{
    text-decoration: none;
    color: inherit;
    padding-right: 1rem;
    transition: var(--time-transitions);
}

.footer div a:hover{
    color: var(--hover-links-color);
}

.card-register{
    width: 40%;
    border-radius: 5px;
    border: 1px solid rgb(175, 175, 175);
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.288);
}

.card-register-content{
    width: 90%;
    min-height: 80vh;
    margin: auto;
}

.card-register-content h3{
    margin: auto;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 1rem;
    color: var(--primary-color);
}

.label{
    position: relative;
    left: 20px;
    top: 15px;
    background-color: white;
    padding: 5px 10px 5px 10px;
    font-size: .9rem;
}

.form-group input{
    padding-top: 13px;
}

.form-group{
    width: 100%;
}

.container-button{
    width: 100%;
    display: flex;
    Justify-content: center;
}

.button{
    margin: 1rem;
    padding: .5rem 1rem;
    background-color: var(--primary-color);
    color: #ffffff;
    border-radius: 5px;
    transition: var(--time-transitions);
    border: none;
}

.button:hover{
    opacity: .9;
    color: var(--hover-links-color);
}

.container-button a{
    margin-bottom: 1rem;
    color: var(--primary-color);
    text-decoration: none;
    transition: var(--time-transitions);
}

.container-button a:hover{
    color: var(--hover-links-color);
}

.card-profile{
    width: 80%;
    border-radius: 5px;
    border: 1px solid rgb(175, 175, 175);
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.288);
}

.card-profile-sections{
    display: grid;
    grid-template-areas: 'left rigth';
    grid-template-columns: 1fr 2fr;
    gap: .5rem;
}

.card-profile-sections-left{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: var(--primary-color);
    grid-area: 'left';
    color: #ffffff;
}

.card-profile-sections-left .card-profile-sections-left-section{
    display: flex;
    justify-content: center;
    min-height: 320px;
}

.card-profile-sections-left div img{
    max-width: 300px;
    background-size: cover;
    object-fit: cover;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 5% 15%;
    box-shadow: 0px 0px 10px 1px #ffffff;
}

.card-profile-sections-left span{
    max-width: 250px;
}

.card-profile-sections-rigth{
    grid-area: 'rigth';
}

.brithday{
    display: grid;
    grid-template-areas: 'day month year';
    grid-template-columns: 1fr 1fr 2fr;
    gap: .5rem;
}

.day{
    grid-area: 'day';
}

.month{
    grid-area: 'month';
}

.year{
    grid-area: 'year';
}

.phone{
    display: grid;
    grid-template-areas: 'cod number';
    grid-template-columns: 1fr 2fr;
    gap: .5rem;
}

.cod{
    grid-area: 'cod';
}

.number{
    grid-area: 'number';
}

.container-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.container-box-card-course{
    margin: 2rem auto;
    width: 500px;
    height: 640px;
    border-radius: 5px;
    border: 1px solid gray;
    box-shadow: 3px 5px 15px gray;
    transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) var(--time-transitions);
    background-color: var(--primary-color);
}

.container-box-card-course:hover{
    border: 1px solid var(--primary-color);
    box-shadow: 1px 2px 20px var(--primary-color);
}

.container-box-card-course .image-container {
    width: 100%;
    height: 300px;
    text-align: center;
    overflow: hidden;
    border-radius: 5px;
    scale: 1.01;
}

.container-box-card-course .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom: 1px solid gray;
    border-radius: 5px;
}

.container-box-card-course h2{
    text-align: center;
    margin: .4rem 0;
    background-color: var(--primary-color);
    color: var(--hover-links-color);
    padding-top: .7rem;
}

.container-box-card-course p{
    color: #ffffff;
    padding: 1rem;
    height: 140px;
    text-align: center;
}

.container-box-card-course h4{
    color: var(--hover-links-color);
    text-align: center;
}

.container-button .btn-info{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    padding: .5rem 1rem;
    background-color: var(--footer-color);
    border-radius: 8px;
    color: var(--hover-links-color);
    text-decoration: none;
    border: 1px solid var(--hover-links-color);
    transition: var(--time-transitions);
}

.container-button .btn-info:hover{
    color: var(--primary-color);
    background-color: var(--hover-links-color);
    scale: 1.1;
}

.container-button .btn-program{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    padding: .5rem 1rem;
    background-color: var(--hover-links-color);
    border-radius: 8px;
    color: var(--footer-color);
    text-decoration: none;
    border: 1px solid var(--hover-links-color);
    transition: var(--time-transitions);
}

.container-button .btn-program:hover{
    color: var(--hover-links-color);
    background-color: var(--primary-color);
    scale: 1.1;
}

.card-profile-sections-left h2, h3, h4{
    text-align: center;
}

.card-profile-sections-left h2{
    color: var(--hover-links-color);
}

.card-profile-sections-left h3{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.container-box-card-course h4{
    color: var(--hover-links-color);
}

.card-profile-sections-rigth-text-course{
    padding: 2rem;
}

.card-profile-sections-rigth-text-course .title{
    font-size: 2rem;
}

.card-profile-sections-rigth-text-course .text{
    font-size: 1.5rem;
}

.card-profile-sections-rigth-text-course .modality{
    text-align: center;
}


.card .card-header{
    background-color: var(--primary-color);
    color: var(--hover-links-color);
    font-size: 2rem;
}


.lessons{
    display: grid;
    grid-template-areas: "duration frecuency weeks";
    grid-template-columns: 1fr 1fr 1fr;
    gap: .5rem;
    text-align: center;
}

.duration-lesson{
    grid-area: "duration";
}

.frecuency{
    grid-area: "frecuency";
}

.weeks{
    grid-area: "weeks";
}

.lesson-text{
    font-size: 1.3rem;
}

.svg-color{
    color: var(--footer-color);
    font-size: 4rem;
    padding: .8rem .5rem 1rem .5rem;
    opacity: .8;
}

.modules{
    margin: auto;
    width: 85%;
    margin-bottom: 2rem;
}

.modules .accordion .accordion-item .accordion-header .accordion-button{
    background-color: var(--primary-color);
    color: #ffffff;
    font-size: 1.2rem;
    padding: 1rem;
    margin-top: .5rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.accordion, .accordion-item, .accordion-collapse, .accordion-body{
    border: none;
}

.modules .accordion .accordion-item .accordion-collapse .accordion-body{
    width: 100%;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
}

.lessons-m a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: .4rem 1rem;
    font-size: 1rem;
    color: var(--footer-color);
    margin: 0;
    transition: var(--time-transitions);
}

.lessons-m a:hover{
    background-color: var(--color-gray);
    box-shadow: 0 0 6px var(--primary-color);
    scale: 1.005;
}

.play-lesson{
    width: 98vw;
    margin: auto;
    display: grid;
    grid-template-areas: "lesson program";
    grid-template-columns: 3fr 1fr;
}

.play-lesson .lesson{
    grid-area: "lesson";
    min-height: 90vh;
}

.play-lesson .program{
    grid-area: "program";
}

.lesson {
    width: 100%;
    max-width: 950px; /* Establece el ancho máximo deseado */
    margin: 0 auto; /* Centra el contenido en la página */
}

.video-container {
    margin-top: 1rem;
    position: relative;
    padding-bottom: 56.25%; /* Esto crea una relación de aspecto de 16:9 (para videos de YouTube) */
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.lesson-text{
    margin-top: 1rem;
}

.no-matriculado{
    display: flex;
    margin: auto;
    min-height: 70vh;
    border: 5px solid green;
    font-size: 3rem;
    align-items: center;
    place-content: center;
}

.featured .container .container-box .featured-h1{
    padding-top: 50px;
    padding-bottom: 20px;
    margin: auto;
    font-weight: 800;
    color: var(--primary-color);
    font-size: 3rem;
}

.rate-module{
    margin-top: 8px;
    width: 100%;
    background-color: var(--footer-color);
    opacity: .7;
    color: var(--color-gray);
    padding: 1rem;
    border-radius: 10px;
    transition: var(--time-transitions);
    text-align: center;
}

.rate-module:hover{
    opacity: 1;
    background-color: var(--primary-color);
    color: var(--hover-links-color);
}

progress{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 16px; 
    background-color: var(--footer-color);
}
  
progress::-webkit-progress-value {
    background-color: var(--hover-links-color);
}

progress::-moz-progress-bar {
    background-color: var(--hover-links-color);
}

.complete-lesson{
    width: 100%;
    text-align: right;
    font-size: var(--font-size-text);
    transition: var(--time-transitions);
}

.complete-lesson a{
    display: inline-block;
    text-decoration: none;
    color: var(--color-gray);
    border: 1px solid var(--hover-links-color);
    padding: .8rem;
    border-radius: 6px;
    background-color: var(--footer-color);
    transition: var(--time-transitions);
}

.complete-lesson a:hover{
    scale: 1.03;
    background-color: var(--hover-links-color);
    color: var(--primary-color);
}

.contact{
    background: rgb(46,54,62);
    background: linear-gradient(0deg, rgba(46,54,62,1) 0%, rgba(79,97,116,1) 100%);
}

.form-control-transparent {
    background-color: rgba(255, 255, 255);
    border: 1px solid #ccc;
}

._required{
    color: rgb(218, 0, 0);
    font-weight: 800;
}

#whatsapp-button {
    opacity: .4;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
    transition: var(--time-transitions);
}

#whatsapp-button:hover{
    opacity: 1;
    scale: 1.2;
}

#whatsapp-button img {
    height: 60px;
    width: 60px;
}

input.form-control:-webkit-autofill,
input.form-control:-webkit-autofill:hover,
input.form-control:-webkit-autofill:focus {
    background-color: transparent !important;
    box-shadow: 0 0 0px 1000px white inset !important;
    /* Cambia el color de fondo y la sombra a tus preferencias */
}

.bg-secondary{
    background-color: #ccc !important;
}

.bloque-pregunta{
    background-color: rgba(255, 113, 113, 0.212);
    border-radius: 10px;
    transition: var(--time-transitions);
}

.bloque-pregunta:hover{
    background-color: rgba(255, 113, 113, 0.562);
    border-radius: 10px;
}

.bloque-respuestas{
    transition: var(--time-transitions);
}

.bloque-respuestas:hover{
    background-color: var(--hover-links-color);
    box-shadow: 5px 5px 15px gray;
}

.title-exam{
    height: 55px;
    background-color: var(--footer-color);
    color: var(--hover-links-color);
    text-align: center;
    padding-top: 2vh;
    border-radius: 15px;
}

.desc-exam{
    height: 5vh;
    padding-top: 1vh;
    text-align: center;
}