
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-auto">
                <img class="footer-img" src="/static/Footer-DT.png">
            </div>
            <div class="col-md">
                <span>Síguenos en nuestras redes</span><br>
                &nbsp;&nbsp;<a href="https://www.instagram.com/instituto.digitaltech/" target="_blank"><i class="fa-brands fa-instagram"></i>&nbsp;Instagram</a><br>
                &nbsp;&nbsp;<a href="#" target="_blank"><i class="fa-brands fa-facebook"></i>&nbsp;Facebook</a><br>
                <hr>
                <a href="#">Trabaja con nosotros</a><br>
                <a href="{% url 'terms_conditions' %}">Reglamento de condiciones de acceso, participación y uso del Campus Virtual del Instituto DigitalTech.</a><br>
            </div>
            <div class="col-md">
                <h5 class="mt-3">Copyright © 2023 - Instituto DigitalTech.</h5>
                <!-- <p class="mt-5">Desarrollo por jzdev</p> -->
            </div>

        </div>
    </div>
</div>
