<div class="menu">

    {% if user.is_authenticated %}
    
    <div>
        {% if user.is_superuser %}
            <a style="color: var(--hover-links-color);" href="{% url 'adm_courses' %}">Administrar cursos</a>
            <a style="color: var(--hover-links-color);" href="{% url 'adm_super' %}">Examenes</a>
        {% endif %}
        <a href="{% url 'index' %}"><span class="fa-solid fa-house">&nbsp</span>Inicio</a>
        <a href="{% url 'courses' %}"><span class="fa-solid fa-computer">&nbsp</span>Cursos</a>
        <a href="{% url 'profile' %}"><span class="fa-solid fa-user-gear">&nbsp</span>{{ user.username }} </span></a>
        <a href="{% url 'logout' %}"><span class="fa-solid fa-right-from-bracket">&nbsp</span>Cerrar sesión</a>
    </div>
    
    {% else %}
    
    <div>
        <a href="{% url 'index' %}"><span class="fa-solid fa-house">&nbsp</span>Inicio</a>
        <a href="{% url 'courses' %}"><span class="fa-solid fa-computer">&nbsp</span>Cursos</a>
        <a href="{% url 'account_login' %}"><span class="fas fa-user">&nbsp</span>Iniciar sesión</a>
        <a href="{% url 'account_signup' %}"><span class="fa-solid fa-user-plus">&nbsp</span>Registrarse</a>
    </div>

    {% endif %}

</div>