{% extends 'base.html' %}

{% block 'title' %} Reglamento de condicions de acceso, participación y uso del campus virtual del Instituto Digital Tech {% endblock %}

{% block 'content' %}

<style>
    .terms-conditions{
        max-width: 650px;
        text-align: justify;
        margin: auto;
        font-family: 'Times New Roman', Times, serif;
        padding: 20px;
    }

    .terms-conditions .topper{
        font-size: 30px;
        text-align: center;
    }
</style>

<div class="terms-conditions">
    <div class="topper">
    REGLAMENTO <br>
    DE CONDICIONES DE ACCESO, <br>
    PARTICIPACIÓN Y USO <br>
    Campus Virtual Instituto Digital Tech <br>
    </div><br>
    REGLAMENTO de USO del CAMPUS <br>

    A.- Introducción
    <br>- Institucional - repartición responsable
    <br>- Actores participantes
    <br>- Responsables contenidos y gestión operativa
    <br>- Tipos de cursos / talleres / grupos de trabajo (abierto, cerrado, gratuito, pago, tutoría, libre)

    <br>B.- Objetivos

    <br>C.- Destinatarios:
    <br>- Personal interno / externo relacionado / público / cerrado institucional

    <br>D.- Condiciones aceptación:
    <br>- Reglamento general
    <br>- Reglamento curso

    <br>E.- Funcionamiento
    <br>- Procesos inscripción
    <br>- Reserva derecho admisión
    <br>- Procesos selección
    <br>- Aviso por mail
    <br>- Procesos participación
    <br>- Procesos suspensión
    <br>- Procesos re-inscripción
    <br>- Procesos de notificación (boletines / email)

    <br>F.- Derechos / Obligaciones
    <br>- Responsabilidad / Obligaciones participantes
    <br>- Derechos participantes
    <br>- Responsabilidad campus / repartición

    <br>G.- Políticas de uso:
    <br>- Foros de debate: respeto / diversidad / objetivos - relación temática
    <br>- Actividades de evaluación: autoría según usuario y clave / cumplimiento fecha - forma
    <br>- Certificación: autoría personal / condiciones según curso
    
    <br>H.- Titularidad de derechos de autor
    <br>- Materiales curso (desarrollos propios y de terceros)
    <br>- Elaboración y contribución de alumnos

    <br>J.- Términos de Servicio:
    <br>- Funcionamiento plataforma: fallas / interrupciones / cambios / ajustes /mantenimiento
    <br>- Ubicación información y sistemas

    <br>K.- Políticas de Privacidad
    <br>- Tratamiento datos de menores (si aplica…)
    <br>- Recopilación, recepción, custodia, tratamiento de los datos gestionados

    <br>M.- Referencias de contacto:
    <br>- Administración académica (temas de inscripción, certificación, etc)
    <br>- Soporte técnico, ayuda operativa
    <br>- Control privacidad

    <br>N.- Jurisdicción legal ante conflictos
    <hr>
    A.- Introducción sobre el Campus Instituto Digital Tech: <br>
    El Instituto Digital Tech propone e implementa políticas para el mejor complumiento de la legislación vigente.
    En tal sentido surge la creación del Campus Virtual que se ha diseñado como un espacio de actividades de capacitación, articulación de actividades y difusión de las distintas temáticas involucradas con las tareas de registrar, fiscalizar y controlar toda actividad vinculada con materiales controlados.
    <hr>
    B.- Objetivos: <br>
    Nuestro objetivo es implementar una estrategia pedagógica a gran escala que facilite el acercamiento de la comunidad a estas temáticas, eliminando o achicando las brechas digitales y logrando tener llegada a cualquier punto del país y lugar del mundo con acceso a internet.
    El cuerpo docente / capacitador del Instituto Digital Tech está conformado por expertos/as en las temáticas que fueron descriptas precedentemente y cuentan con el conocimiento teórico-práctico necesario para la orientación, capacitación y tutoría, según el caso, de cada curso, taller o actividad.
    <hr>
    C.- Destinatarios/as <br>
    El requisito principal para acceder a la capacitación y formación en Materia Registral que brinda el campus virtual del Instituto Digital Tech es el interés de cada persona en acercarse a las temáticas registrales de los Materiales controlados por el instituto.
    En los distintos cursos y actividades que se ofrezcan en el campus virtual del Instituto Digital Tech se desarrollarán actividades dirigidas a profesionales, docentes, estudiantes, funcionarios/as, ciudadanía en general, etc.
    En la descripción de cada actividad consta el programa con los objetivos y contenidos detallando en forma específica el universo de destinatarios/as.
    <hr>
    D.- Condiciones <br>
    La participación en las formaciones propuestas y la utilización del campus virtual del Instituto Digital Tech implican la aceptación del “Reglamento de condiciones de acceso, participación y uso del campus virtual del Instituto Digital Tech que a continuación se detallan (en adelante, “Reglamento”).
    Este Reglamento podrá ser actualizado y/o modificado por el Instituto Digital Tech periódicamente y sin previo aviso.
    La Dirección del Instituto Digital Tech asegura la confidencialidad de los datos de las personas inscriptas y su utilización restringida y exclusivamente institucional.
    <hr>
    E.- Funcionamiento - Términos de Uso: <br>
    Procesos de Inscripción - Selección - Admisión
    Para la debida registración en los cursos, talleres, actividades, el/la participante deberá contar con una cuenta activa en el campus del Instituto Digital Tech con su correo electrónico verificado y cumplimentar sus datos personales básicos. Además de esto, el/la participante deberá contar con una matriculación a el curso, taller o actividad a que se haya inscripto. Esta matrícula puede o no conllevar un costo económico, definido por la dirección del Instituto Digital Tech.
    Los períodos de inscripción y matriculación son establecidos por la dirección del Instituto Digital Tech y su cuerpo de docentes y serán publicados en la misma pestaña de descripción del curso, taller o actividad. Los mismos podrán ser modificados sin previo aviso por la dirección del Instituto Digital Tech.
    Procesos de suspensión de la participación
    La dirección y/o los administradores del campus del Instituto Digital Tech podrán suspender a aquellos inscriptos participantes que hubieran incumplido el “Reglamento de normas y condiciones de uso del Instituto Digital Tech” y las disposiciones que se hubieren dictado en consecuencia.
    La dirección y/o los administradores del campus del Instituto Digital Tech realizará un proceso de baja de cuentas de acceso de acuerdo al calendario de trabajo habitual que establezca la dirección a la cual pertenece.
    La dirección y/o los administradores del campus del Instituto Digital Tech podrá suspender o cancelar una cuenta de acceso que no se haya utilizado dentro del plazo de acceso inicial que se haya dispuesto y comunicado en la información de cada curso, taller y/o actividades.
    Un participante inactivo no podrá iniciar ningún curso, taller y/o actividad y tampoco podrá acceder a los contenidos publicados así como tampoco podrá realizar ningún tipo de participación, pero podrá solicitar volver a ser considerado activo/a enviando un mensaje por correo electrónico a info@instituto-digitaltech.com
    Procesos de comunicación: boletines electrónicos y notificaciones por correo electrónico
    El Instituto Digital Tech podrá enviar a los/as participantes registrados mediante correo electrónico cumpliendo con todas las especificaciones legales, información y boletines informativos sobre cursos, talleres y/o actividades y contenidos del campus del Instituto Digital Tech.
    <hr>
    F.- Derechos / Obligaciones <br>
    Responsabilidad de los participantes activos de los cursos, talleres
    Los participantes del campus del Instituto Digital Tech deberán:
    Estar informados sobre las lecturas, novedades y tareas del curso, taller y/o actividad en el que estén participando.
    Cumplir con las tareas, participación en los foros y actividades detalladas por el programa que figura en cada curso, taller y/o actividad.
    Notificar al tutor o docente o coordinador por mensaje privado del del campus del Instituto Digital Tech o por correo electrónico a info@instituto-digitaltech.com si, por alguna razón, se encontrara en una circunstancia que le impidiera continuar con el curso y recibir así indicaciones de cómo proceder a partir de ese momento.
    <br>Derechos de los participantes del Campus del Instituto Digital Tech
    <br>Todos los participantes del campus del Instituto Digital Tech desde el momento de su inscripción gozan de los derechos establecidos en el Reglamento de condiciones para el acceso, participación y uso del campus del Instituto Digital Tech y las disposiciones y condiciones que se dicten en consecuencia que a continuación de detallan:
    Recibir capacitación y formación acorde con las normas que rigen el campus del Instituto Digital Tech, donde contarán con el apoyo operativo acorde a la actividad durante su desarrollo para que culminen con éxito sus cursos, talleres y/o actividades.
    Expresar libre y razonadamente sus convicciones políticas, filosóficas, culturales y religiosas, si corresponde a la temática, en el marco de las actividades de los distintos cursos, talleres y/o actividades en los que participen en el campus del Instituto Digital Tech, dentro de un marco de respeto mutuo y mediante el uso del lenguaje adecuado.
    Presentar a los tutores o coordinadores de los cursos, talleres del campus del Instituto Digital Tech las solicitudes de aclaratoria o reconsideración de calificación (si la hubiere) sobre sus trabajos presentados relacionados con los cursos, talleres en los que participen.
    Obtener los certificados correspondientes a los cursos, talleres en los que participen si hubieran cumplido con los requisitos para aprobar los mismos o bien solicitar una constancia de participación, según las condiciones específicas de cada curso, taller en particular.
    Responsabilidades generales en el uso y actos prohibidos
    Los participantes de actividades dentro del campus del Instituto Digital Tech se comprometen a no realizar descargas masivas de archivos, mediante cualquier procedimiento o programa y a destinar el documento o los documentos descargados de los cursos, talleres y/o actividades al uso meramente privado, no pudiendo en ningún caso publicar, distribuir o comercializar los trabajos por ellos producidos de ninguna forma sin obtener una autorización explícita para ello.
    Las ideas, afirmaciones y opiniones en los trabajos y foros de debate de un curso, taller y/o actividades no son necesariamente compartidas por los responsables del campus del Instituto Digital Tech y la propia Dirección del Instituto Digital Tech, ni compromete a ninguna de sus dependencias. La responsabilidad de las mismas compete a los autores de dichas expresiones y/o a quienes las emitan o difundan.
    Asimismo, el campus del Instituto Digital Tech no será responsable por las pérdidas y daños que se pudieran ocasionar por las decisiones o medidas tomadas por los participantes o por terceros sobre la base de los datos e información suministrada dentro del campus del Instituto Digital Tech.
    El participante en ocasiones podrá encontrar referencias o enlaces a sitios externos al campus del Instituto Digital Tech con fines de acceder a informaciones y/o documentación complementarias. La Dirección no se responsabiliza por los contenidos de los referidos sitios externos.
    <hr>
    G.- Políticas de uso aceptable <br>
    El uso de los servicios del campus del Instituto Digital Tech está sujeto a las siguientes políticas de uso aceptable:
    Cualquier interesado en utilizar los servicios del campus del Instituto Digital Tech declara, garantiza y acepta que no va a contribuir o redistribuir con cualquier contenido, enviado por si mismo o por otro usuario, y/o utilizar los servicios o interactuar con los servicios de forma que:
    infrinja o viole los derechos de propiedad intelectual o cualquier otro derecho de cualquier persona u organización.
    viole cualquier ley o regulación municipal, nacional o internacional que corresponda aplicar.
    sea perjudicial, fraudulento, engañoso, amenazador, abusivo, acosador, difamatorio, vulgar, obsceno o de otra manera desagradable.
    ponga en peligro la seguridad de su cuenta del campus del Instituto Digital Tech o de cualquier otra cuenta del mismo.
    trate de obtener la contraseña, cuenta, u otra información de seguridad de cualquier otro usuario.
    viole o intente violar la seguridad de la red informática, la integridad de los sistemas y/o contraseñas relacionadas con el campus del Instituto Digital Tech.
    El interesado en utilizar los servicios de campus del Instituto Digital Tech deberá abstenerse de usar un código de acceso que no esté autenticado y/o que no le corresponda.
    El interesado se verá obligado a mantener su código de acceso como información privada y no podrá revelar cualquier contraseña que se utilice durante su participación en las actividades del campus del Instituto Digital Tech.
    Deberá abstenerse de publicar códigos de ingreso en cualquier medio con acceso público (foros, páginas de internet, publicaciones gráficas, radio, televisión, etc.) ni difundirlas en ámbito alguno.
    El interesado en utilizar los servicios del campus del Instituto Digital Tech deberá abstenerse de inscribirse falseando su información personal para ser admitido en categorías de usuarios para las que no califica legítimamente.
    <hr>
    H.- Titularidad de la propiedad intelectual <br>
    El participante que accede a los servicios del campus del Instituto Digital Tech reconoce expresamente que el Instituto Digital Tech o docentes u otras instituciones que utilizan los servicios del campus virtual del Instituto Digital Tech son los únicos propietarios de todos los derechos de propiedad intelectual de los recursos documentales generados y relacionados con el campus del Instituto Digital Tech, sus propios signos, logos y ninguna disposición conferirá a los participantes derecho alguno de propiedad sobre los mismos.
    Todos los contenidos ofrecidos por los participantes del campus del Instituto Digital Tech y los trabajos realizados son de autoría de los participantes.
    Los participantes-autores, conocen y aceptan que el campus del Instituto Digital Tech y la Dirección del Instituto Digital Tech podrán reproducir, publicar y/o distribuir los trabajos por ellos producidos en el marco de los cursos, talleres ofrecidos y podrán disponer de los mismos con fines educativos sin previo aviso, de la manera en que estimen más conveniente, sin que el participante-autor pueda invocar derecho alguno al respecto, ni reclamar una indemnización, compensación y/o retribución.
    En ningún caso el campus del Instituto Digital Tech será responsable por el uso que un participante del campus del Instituto Digital Tech pueda hacer de los trabajos de otros/as participantes.
    <hr>
    J.- Términos de Servicio <br>
    Operatividad del campus del Instituto Digital Tech
    El sistema del campus del Instituto Digital Tech puede interrumpir su funcionamiento ante procesos de mantenimiento, de actualización y/o reemplazo de equipos y redes en cuyo caso tratará de comunicar con anticipación esta situación.
    En ningún caso el campus del Instituto Digital Tech será responsable de la falta de acceso o inadecuado funcionamiento de la plataforma si ello obedece a labores de mantenimiento y similares, a incidentes que afecten a servidores u operadores de redes de comunicaciones nacionales, internacionales o a una defectuosa configuración, errores de funcionamiento de programas, intrusiones de virus y semejantes en los equipos de los participantes.
    El campus del Instituto Digital Tech no será responsable de ninguna pérdida o daño, sea éste directo, indirecto o emergente que se genere al participante en caso de no funcionamiento de la plataforma de acuerdo a las presentes condiciones, debido a casos fortuitos, fuerza mayor u otras causas no imputables a la operatoria del campus del Instituto Digital Tech.
    <hr>
    K.- Política de Privacidad <br>
    En el campus del Instituto Digital Tech nos comprometemos a proteger su privacidad. Esta Normativa de privacidad explica las prácticas de recepción, recopilación, gestión y detalla el uso que le damos a la información personal que le proporciona el campus del Instituto Digital Tech cuando utiliza nuestra plataforma, incluyendo los datos relacionados con la actividad que ha hecho usted al usar nuestra plataforma.
    Al acceder a nuestra plataforma e ingresar como usuario en nuestro campus del Instituto Digital Tech, es importante informarle cómo recopilamos y cómo tratamos su información personal para que conozca y adhiera a la Política aplicada.
    Alcance:
    Esta política se aplica a todos los usuarios que están registrados en el campus del Instituto Digital Tech.
    No somos responsables de la información suministrada, almacenada o recopilada que eventualmente pueden procesar sitios web fuera del ámbito institucional directo y sus enlaces hayan sido suministrado por el equipo y/o cualquier usuario del sistema con fines didácticos, como recursos de investigación, profundización, aprendizaje, o cualquier otro uso aplicable a las actividades que se desarrollan en el campus del Instituto Digital Tech.
    Los servidores, sistemas, y los datos almacenados están ubicados dentro del territorio de la República Argentina, y la operatoria del Campus y la gestión de información y de los datos personales relacionados están sujetas a las Leyes, Decretos y Convenios internacionales vigentes en el país, que regulan este tipo de actividad y el tratamiento de la información personal.
    Definición de Datos Personales:
    Definimos dato personal como el conjunto de sus datos que permiten identificarlo, como por ejemplo su documento, domicilio, correo electrónico y número telefónico. Son datos privados, es decir, no están disponibles al público. Recuerde que su identidad por nombre y apellido es de carácter público.
    Datos que gestionamos:
    Información personal solicitada y recibida
    <br>
    Cuando usted se registra en nuestro Campus Virtual, nosotros le solicitamos en nuestro “formulario de creación de cuenta” los siguientes datos:
    <br>- Nombre y Apellido
    <br>- Nro. de Documento
    <br>- Fecha de Nacimiento
    <br>- Teléfono
    <br>- Email
    También le solicitaremos información que lo identifique personalmente (información personal) o que nos permita ponernos en contacto con usted cuando sea necesario para proporcionar algún servicio que brinde el campus del Instituto Digital Tech.
    Información recopilada
    La información personal recopilada puede incluir su nombre, el nombre de la empresa u organización, el correo electrónico del trabajo, el teléfono del trabajo, la dirección particular o del trabajo, información acerca de su cargo en el trabajo e información acerca de su empresa.
    El campus del Instituto Digital Tech puede recopilar cierta información acerca de su visita, como:
    Nombre del proveedor de servicios Internet
    Dirección IP (Protocolo Internet) mediante la cual tiene acceso a Internet;
    La fecha y la hora de acceso al Sitio;
    Páginas a las que ha tenido acceso en el Sitio
    Dirección de Internet del sitio Web desde el que ha llegado a nuestro Sitio.
    Esta información se utiliza para analizar tendencias y nos ayuda a mejorar y a administrar el Sitio.
    Información personal compartida voluntariamente
    En toda actividad desarrollada dentro del campus del Instituto Digital Tech usted puede decidir compartir de forma voluntaria información personal, opiniones, recursos documentales de diferente tipo, etc. etc. que podría estar accesible a otros usuarios. 
    Aquello que se genera como actividad personal y que tiene como destinatario al equipo responsable del curso, taller o actividad, está incluido en los términos de confidencialidad del funcionamiento del campus del Instituto Digital Tech. Dichos términos, salvo indicación en contrario, no podemos aplicarlos por sobre la libertad y responsabilidad de cada usuario.
    Uso de los datos Generales:
    La información personal recopilada en este campus del Instituto Digital Tech a través del “Formulario de creación de cuenta” se utilizará para proporcionar los servicios de capacitación, formación y/o articulación a nivel personal y/o grupal.
    Uso de los datos de información personal
    La información personal suministrada en las fichas de pre-inscripción / inscripción se utiliza para la evaluación y selección de su petición de acceso a un curso, taller o actividad dentro del campus del Instituto Digital Tech.
    La información personal resumida se utiliza para la identificación general de su persona dentro del Campus. (Nombres, Apellidos, usuario, ubicación, imagen personal)
    Queda en su responsabilidad el querer compartir mayor información que la resumida de cada usuario.
    Recuerde que toda publicación dentro del campus del Instituto Digital Tech puede estar disponible para quienes participan en El, de acuerdo a la ubicación en donde la comparta.
    Uso de los datos de contacto
    La información personal de contacto se puede utilizar para proporcionarle información importante acerca del servicio que está utilizando, actualizaciones críticas, notificaciones técnicas, operativas, administrativas u otras.
    El campus del Instituto Digital Tech puede enviar periódicamente correos electrónicos con información acerca de temas de nuevas capacitaciones, criterios y pautas de seguridad, de mantenimiento y/o servicio técnico del sistema, de sus equipos y/o programas, así como la situación de un producto o servicio solicitado, o como confirmación / rechazo de la solicitud de un producto o servicio y de su situación operativa.
    También podrá recibir mensajes relacionados con el desarrollo mismo de las actividades de capacitación, etc. del sistema del campus y las herramientas que se utilizan en el mismo.
    Uso de los datos de información de utilización del sistema
    Puede ser utilizada para análisis estadístico, análisis de performance, análisis de desarrollo de los cursos, talleres y actividades. Los docentes pueden utilizar información de uso, para acompañar los procesos de aprendizaje de los usuarios.
    Gestión de la información
    Todo el personal (administrativo, docente, capacitador, técnico y de soporte) respeta los principios de confidencialidad de los datos y la información personal a la que tiene acceso según su rol en el Campus.
    El área (repartición a cargo del Campus) define y supervisa la aplicación de su responsabilidad en la gestión de la información a su alcance.
    Los equipos y sistemas que contienen y procesan el funcionamiento del Campus están supervisados desde el punto de vista de seguridad informática por el área responsable del Ministerio de Justicia Y Derechos Humanos (DGGI : Dirección General de Gestión Informática), contando con las medidas de control de acceso, custodia y seguridad que responden a las políticas definidas al respecto.
    El campus del Instituto Digital Tech y el área que lo tiene a su cargo, se exime de responsabilidad por el uso o mal uso que puedan hacer voluntariamente, o por error u omisión, los usuarios del campus con la información general que se comparte en el mismo, sea a nivel de trabajos, comentarios, opiniones, imágenes o de cualquier otro formato.
    Control de la información personal
    La información personal que proporcione mediante el “formulario de creación de usuario” no se compartirá fuera del área de capacitación sin su permiso. Como se describe a continuación en la siguiente sección, puede tener acceso a su información personal y realizar modificaciones acerca de cómo desea que se pongan en contacto con usted.
    Acceso a la información personal
    Para revisar y editar la información personal y las preferencias de contacto que ha proporcionado deberá loguearse e ingresar en su perfil (que lleva su nombre de usuario) y ahí tendrá la opción de cambiar sus datos personales y guardarlos (podrá modificar todos sus datos, actualizar contraseña, cambiar foto de perfil entre otras funciones). Si tiene dificultades consulte con el soporte del Campus. Verifique en la información de cada curso, taller los datos de contacto y soporte técnico.
    Seguridad de la información personal
    El campus del Instituto Digital Tech se compromete a proteger la seguridad de la información personal. Utilizamos varias tecnologías y procedimientos de seguridad para proteger su información personal, del acceso, uso o divulgación sin autorización. Almacenamos la información personal proporcionada en servidores con acceso limitado que se encuentran en instalaciones controladas, procesados bajo normas de estricta confidencialidad y protección de datos.
    Compartir Información:
    El campus del Instituto Digital Tech compartirá la información personal que nos proporcione cuando:
    Necesitamos compartirla para poder ofrecerle una capacitación que nos ha solicitado.
    Nos vemos en la necesidad de responder a citaciones jurídicas y/o a procesos legales.
    No nos responsabilizamos de las acciones que puedan realizar los usuarios del campus con la información que les suministre o comparta en cualquier actividad dentro del Campus.
    Esas acciones son de exclusiva incumbencia de la persona que las realiza.
    Aplicación de esta declaración de privacidad
    Si tiene preguntas acerca de esta política, debe ponerse en contacto con la dirección o los operadores del campus del Instituto Digital Tech a través de la dirección de correo electrónico de contacto: info@instituto-digitaltech.com .
    La participación, efectivizada en el acceso a cualquiera de los cursos, talleres de capacitación y/o actividades del Campus, será considerada como aceptación de los términos de esta Política de Privacidad por parte del usuario.
    Cambios a esta declaración de privacidad
    Ocasionalmente podemos actualizar esta declaración de privacidad. Cuando se actualice, también se cambiará la fecha de "última actualización" de la parte superior de la declaración de privacidad. Si se producen cambios importantes en esta declaración, lo comunicaremos mediante un aviso destacado en la página de Novedades de nuestro sitio Web o enviándole directamente una notificación via correo electrónico. Invitamos a los participantes de campus del Instituto Digital Tech a revisar periódicamente esta declaración de privacidad para estar informado acerca de cómo protegemos la información que recopilamos. El uso continuo del servicio a través de sus datos personales de acceso, constituye su aceptación de esta declaración de privacidad y de cualquier actualización.
    Participantes Menores de Edad
    El campus del Instituto Digital Tech cuida la privacidad de sus usuarios por lo cual establece:
    Cuando los usuarios fueran menores de 13 años (Ley de Protección COPPA- Privacidad Infantil en línea) necesitarán que presten el consentimiento los padres del niño para que este pueda acceder a los mismos, sin enviar ninguna información personal, para el uso o beneficio del aprendizaje en línea en campus del Instituto Digital Tech.
    Si campus del Instituto Digital Tech toma conocimiento que un estudiante menor de 13 años nos ha brindado información personal más allá de lo que hemos solicitado, esa información, la misma será eliminada tan pronto como sea posible.
    Si Ud. cree que un estudiante menor de 13 años ha brindado información personal privada e íntima por favor contáctese con:
    info@instituto-digitaltech.com o bien por medio telefónico (TEL: 54 3492 311561) o
    Personalmente en la calle: Cacciolo 498 Rafaela Santa Fe.
    En caso de ser una escuela, distrito o maestro UD. representa y garantiza que es Ud. el único responsable y garante de hacer cumplir el reglamento, por lo cual debe haber obtenido el consentimiento de los padres o tutores cuyos hijos menores de 13 años tendrán acceso a los servicios de campus del Instituto Digital Tech, garantizando que adhiere a estos términos en nombre de su escuela o distrito.
    <hr>
    M.- Información de contacto <br>
    Referencias de contacto

    Para consultas puede utilizar el envío de mensajes a las siguientes cuentas de correo electrónico:
    consultas administrativas (inscripciones, certificaciones, etc), consultas técnicas / operativas: info@instituto-digitaltech.com
    Para consultas y comunicaciones por correo postal:
    Instituto Digital Tech 2300 - N. Cacciolo 498, Rafaela - Santa Fe - Argentina.-
    Control privacidad

    El campus del Instituto Digital Tech agradece sus comentarios acerca de la declaración de Política de privacidad. Si cree que este sitio no ha cumplido con esta declaración de privacidad, póngase en contacto con nosotros de forma electrónica o mediante correo postal en la dirección que se muestra a continuación y realizaremos los esfuerzos técnicamente razonables para determinar y solucionar el problema lo más rápidamente posible.
    info@instituto-digitaltech.com
    <hr>
    N.- Jurisdicción legal ante conflictos <br>
    Ante un conflicto se define la jurisdicción de los tribunales federales ubicados en la Ciudad de Rafaela, Argentina, para su tratamiento y resolución.
    En este reglamento se tienen como referencia las siguientes leyes respecto a la gestión de los datos personales en la Política de Privacidad, en la República Argentina: Ley 25.325, Dec. 1558/01, Disp. DNPDP 11/06.
    Se deja constancia que dichas leyes son totalmente compatibles con las Políticas de Protección de Datos Personales de la Unión Europea.
    <hr>
    Última modificación: lunes, 8 de enero de 2024, 09:25
</div>

{% endblock %}